@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
   /** color **/
   --baseColor : #333;
   --blueColor : #22aee5;
   /** size **/
   --baseContainer : 79.375rem; /*1270px*/
   /** padding **/
   
}

body {
  margin: 0; padding: 0;
}
.container {width: 1080px; height: 1000px; margin: 0 auto;  position: relative; top:120px;}
#header {
  width: 1080px; margin: 0 auto; height:auto; position: relative;
  margin-top: 20px;
}

.inner {
  justify-content: space-between;
  display: flex;
}

.inner ul {
  padding-top: 5px;
  list-style: none;
  display: flex;
  height:25.75px;
}

.inner ul li {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.0625rem;
}

.inner ul li a {
  text-decoration-line: none;
  font-weight: bold;
  font-size: 1.0625rem;
  
}
.inner h2 a {
  text-decoration-line: none;
}

.input-box {
  position: relative;
  overflow: hidden;
}

input {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: 1px solid #8f8888;
  transition: 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

.input-box.active input {
  width: 200px;
  padding: 0 50px 0 10px;
  border: 1px solid #8f8888;
  border-radius: 15px;
  opacity: 1;
  pointer-events: auto;
  outline: none;
}

.magnifier {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #8f8888;
  border-radius: 15px;
  transition: border 0.3s ease;
}

.magnifier::before {
  content: '\f002';
  font-family: 'FontAwesome';
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-box.active .magnifier {
  border: none;
}
a:link, a:visited, a:hover, a:active {color: var(--baseColor);}
.main_bar{
  position: absolute;
  float: left;
  width : 100%;
  height: 60px;
  border-bottom: 1px solid #b5afaf;
  margin-top: 30px;
}
.main_bar nav ul{
  padding: 0;
  list-style: none;
  display : flex;
  font-size: 15px;
  height : 100%;
  margin: 0;
}

.main_bar nav ul li {
  margin-right : 90px;
  text-align: left;
}

.main_bar nav ul li a {display:inline-block;line-height:3rem;font-weight: bold;font-size:1.0625rem;
  text-decoration: none;
  color:rgb(121, 119, 119); margin: 0;}
.main_bar nav ul li:hover a {color: var(--baseColor);}

.main_bar nav ul li a:after {opacity:0;content:"";position:absolute;width:100%;height: 5px;background-color:var(--baseColor);left:0;bottom:0;transition:all 0.3s ease-in-out;}

#main_img {
  position: relative;
  width: 100vw;
  height:300px;
  margin-left:0px;
  top:80px;
  object-fit: cover;
}
#main_img img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center left;
  left:0px;
  background-size: cover;
}
#main_img h1 {
  max-width: 1080px;
  margin: 0 auto;
  color: white;
  font-weight: 300;
  font-size: 2.125em;
  line-height: 1.2352;
}
.game_tag {
  font-size: 0.875em;
  color: #fff;
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.post_title {
  position: absolute;
  width: 100%;
  top:80px;
}
section {
  width: 100%;
  height: 100%;
  position: absolute;
}
.post_main {
  width: 650px;
  height: auto;
  position: absolute;
  margin: 0 auto;
  
}

.post img{
  width: 100%;
  background-size: cover;


}
.post p{
  text-align: center;
  line-height: 2.3;
  font-family: 'Noto Sans KR', sans-serif;
  color: #4d4d4d;
}
#side_menu {
  width: 200px;
  height: 600px;
  position: relative;
  float:right;
  margin-top: 80px;
}

.side_menu-box {
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;

}


.side_menu-box ul li {
  list-style: none;
  margin-bottom: 10px;
}
.side_menu-box ul li a{
 text-decoration-line: none;
 color:rgb(121, 119, 119);
 font-size: 14px;
 }

.side_menu_announcement {
  width: 100%;
  height: auto;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 100px;
}
.side_menu_announcement li{
  margin-bottom: 10px;
}

.side_menu_game {
  margin-top: 20px;
}

.side_menu_game a {
  text-decoration-line: none;
}
.side_menu_game_tag {
  width: 100%;
  height: auto;
  border-left: 1.5px solid rgb(207, 200, 200);
  margin-top: 10px;
}

.side_menu_game_tag ul {
  list-style: none;
  margin-left: 20px;
}

.side_menu_game_tag ul li {
  list-style: none;
  margin-bottom: 6px;
}

.side_menu_game_tag ul li a{
  text-decoration-line: none;
  font-size: 14px;
  margin-top: 0;
  vertical-align: top;
}

.side_menu-box li:hover a, .side_menu-box li:active a{
  color:#333;
  text-decoration-line: underline;
}